{{define "product"}}
{{template "header" .}}
<form action="/product" id="form-submit" method="get">
</form>
<div class="row" style="display: flex; justify-items: center;">
  <div class="text-center">
    <button class="btn btn-primary" style="margin-right: 5px;" name="catalog" value="" name="catalog" role="button"
      hidden form="form-submit" onclick="document.getElementById('form-submit').submit();">All</button>
    {{ range .Catalogs }}
    <button class="btn btn-primary" style="margin-right: 5px;" name="catalog" value="{{.Catalog}}" name="catalog"
      role="button" form="form-submit" onclick="document.getElementById('form-submit').submit();">{{.Catalog}}</button>
    {{end}}
  </div>
</div>
<br>
<div class="container">
  <div class="row">
    <div class="col text-start">
      <p>
        {{if .Q}} Total {{ .TotalProduct }} result for <b>{{ .Q }}</b> {{if .Catalog}} and Catalog
        <b>{{.Catalog}}</b>{{end}}
        {{end}}
      </p>
    </div>
    <div class="col" style="max-width: 300px;">
      <div style="display: flex; justify-items: center; align-items: center;">
        <span style="margin-right: 5px;"><b>SortBy:</b></span>
        <select class="form-select form-select-sm" name="sort_by" aria-label=".form-select-sm example"
          form="form-submit" onchange="document.getElementById('form-submit').submit();">
          <option {{if eq .SortBy "" }} selected {{end}} value="">Choose Sort By</option>
          <option {{if eq .SortBy "newest" }} selected {{end}} value="newest">Newest</option>
          <option {{if eq .SortBy "title" }} selected {{end}} value="title">Title</option>
        </select>
      </div>
    </div>
  </div>
  <br>
  <div id="search-results">
    <div class="row row-cols-1 row-cols-md-5 g-4" id="product-search-result">
      {{ template "search_result" .}}
    </div>
  </div>
</div>
</html>
{{template "footer" .}}
{{end}}