{{define "catalog"}}
<div class="container">
  <div>
    <div class="row row-cols-1 row-cols-md-3 g-4">
      {{range $key, $value := .Catalogs }}
      <div class="col">
        <div class="card text">
          <div
            id="carousel{{$key}}"
            class="carousel carousel-dark slide"
            data-bs-ride="carousel"
          >
            <div class="carousel-indicators">
              <button
                type="button"
                data-bs-target="#carousel{{$key}}"
                data-bs-slide-to="0"
                class="active"
                aria-current="true"
                aria-label="Slide 1"
              ></button>
              <button
                type="button"
                data-bs-target="#carousel{{$key}}"
                data-bs-slide-to="1"
                aria-label="Slide 2"
              ></button>
              <button
                type="button"
                data-bs-target="#carousel{{$key}}"
                data-bs-slide-to="2"
                aria-label="Slide 3"
              ></button>
            </div>
            <div class="carousel-inner">
              {{ range $key, $val := $value.Data }}
              <div class="carousel-item {{if eq $key 0}}active{{end}}">
                <img
                  class="card-img-top"
                  src="{{.ImageURL}}"
                  style="object-fit: contain; height: max(10rem, 30vh)"
                  alt="Card image cap"
                />
              </div>
              {{ end }}
            </div>
            <button
              class="carousel-control-prev"
              type="button"
              data-bs-target="#carousel{{$key}}"
              data-bs-slide="prev"
            >
              <span
                class="carousel-control-prev-icon"
                aria-hidden="true"
              ></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button
              class="carousel-control-next"
              type="button"
              data-bs-target="#carousel{{$key}}"
              data-bs-slide="next"
            >
              <span
                class="carousel-control-next-icon"
                aria-hidden="true"
              ></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>
          <div class="card-body">
            <h5 class="card-title">{{ $value.Catalog }}</h5>
            <a
              class="btn btn-primary btn-block"
              href="/product?catalog={{$value.Catalog}}"
              >See More</a
            >
            <a class="btn btn-outline-primary btn-block" href="#">Share</a>
          </div>
        </div>
      </div>
      {{ end }}
    </div>
  </div>
</div>
{{end}}
